ul {
  border: '2px solid grey';
  padding: '5px';
  list-style-type: none;
}

ul:focus-within {
  border: 1px solid black;
}

.list-ul:focus-within .selected {
  color: red;
  background-color: blue;
}
